{% extends 'base.html.twig' %}

{% block title %}Ajouter une playlist{% endblock %}

{% block body %}
{% include "__header.html.twig" %}
<section id="loginPage">
    <section>
        <div class="formImage"></div>
        <div class="form">
            {{ form_start(form, {'method': 'POST' }) }}
                <h2>Ajouter une playlist</h2>
                <a href="/tuto" class="tuto">Comment faire ?</a>
                {{ form_row(form.code , { label: 'Code :', 'attr': {'placeholder': "https://open.spotify.com..."} }) }}
                {{ form_row(form.category , { label: 'Catégorie :' }) }}

                <button type="submit" class="btn">Partager</button>
            {{ form_end(form) }}
        </div>
    </section>
</section>
    
{% include "__footer.html.twig" %}
{% endblock %}
