{% extends 'base.html.twig' %}

{% block title %}Autres Playlists{% endblock %}

{% block body %}
{% include "__header.html.twig" %}
    <section id="discover">
        <div>
            <h2>Découvrez une playlist diverse</h2>
            <p>Ici vous êtes à la découverte des playlists diverse choisies aléatoirement, partagées par la communauté</p>
        </div>
        <section>
            {% for entity in entities %}
                <article>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed{{ entity.code }}?utm_source=generator" width="100%" height="380" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <a href="{{ path('app_like_playlist', {'id': entity.id}) }}" class="btn-link js-like">
                        {% if app.user and entity.isLikedByUser(app.user) %}
                            <i class="fa-solid fa-heart"></i>
                        {% else %}
                            <i class="fa-regular fa-heart"></i>
                        {% endif %}
                            <span class="js-likes">{{ entity.likes|length }}</span>
                    </a>
                </article>
            {% endfor %}
        </section>
    </section>
{% include "__footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.document.querySelector('span.js-likes');
            const icone = this.document.querySelector('i');

            axios.get(url).then(function(response){
                console.log(response);
                spanCount.textContent = response.data.likes;

                if(icone.classList.contains('solid')) {
                    icone.classList.replace('solid', 'regular');
                } else {
                    icone.classList.replace('regular', 'solid');
                } 
            });
        }

        document.querySelectorAll('a.js-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike);
        });
    </script>
{% endblock %}
