body {
    background-color: $primaryColor;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.btn{
    background-color: $secondaryColor;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: raleway;
    font-weight: 700;
    font-size: 20px;
}

#success, #error{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 2em;
    border-radius: 25px;
    background-color: $secondaryColor;
    font-family: montserrat;
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#error{
    background-color: red;
}