header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;

    h1>a{
        margin: 0;
        font-family: raleway;
        font-size: 48px;
        color: white;
        text-decoration: none;
    }

    nav{
        display: flex;
        gap: 2.5em;

        a{
            color: white;
            text-decoration: none;
            font-family: raleway;
            font-size: 24px;
        }
    }

    div{
        display: flex;
        align-items: center;
        gap: 1em;

        .user{
            display: flex;
            align-items: center;
            gap: 0.5em;
            background-color: $secondaryColor;
            padding: 0.5em 1em;
            border-radius: 20px;
            font-family: raleway;
            border: 1px solid $secondaryColor;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: black;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: black;
                color: $secondaryColor;
            }
    
            i{
                font-size: 24px;
            }
        }
    
        .logout{
            color: red;
            font-family: raleway;
            font-size: 16px;
            text-decoration: none;
            &:hover{
                font-weight: bold;
            }
        }
    }
}