#loginPage{
    section{
        width: 65%;
        height: 60vh;
        margin: 7em auto;
        display: flex;

        .formImage{
            width: 35%;
            height: 100%;
            background-image: url(../images/pc.jpg);
            background-position: center;
            background-size: cover;
        }

        .form{
            background-color: black;
            position: relative;
            width: 65%;
            padding-right: 4em;
            padding-left: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #compte{
                display: flex;
                justify-content: end;
                width: 100%;
                
                p{
                    top: 10px;
                    right: 10px;
                    font-family: montserrat;
    
                    a{
                        color: $secondaryColor;
                        text-decoration: none;
                    }
                }
            }

            form{
                width: 80%;

                h2{
                    padding-bottom: 1em;
                    margin: 0;
                    font-family: raleway;
                    font-size: 24px;
                }

                .tuto{
                    color: $secondaryColor;
                    font-family: montserrat;
                    text-decoration: none;
                    padding: 1em 0;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    padding-bottom: 1em;

                    label{
                        font-family: montserrat;
                    }

                    input, textarea, select{
                        background-color: black;
                        border: 1px $secondaryColor solid;
                        padding: 0.5em;
                        color: white;
                    }
                }

                #button{
                    
                    button{
                        margin: 0 auto;
                        width: max-content;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1050px){
    #loginPage{
        section{
            flex-direction: column;
            align-items: center;

            .formImage{
                width: 100%;
                padding-right: 4em;
                padding-left: 1.5em;
            }

            .form{
                width: 100%;
                padding-bottom: 1.5em;
            }
        }
    }
}

@media screen and (max-width: 865px){
    #loginPage{
        section{
            .form{
                #compte{
                    p{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}