#profile{
    position: relative;

    .btn{
        position: absolute;
        top: 25px;
        left: 25px;
    }

    h2{
        font-family: raleway;
        font-size: 48px;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    section{
        padding: 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5em;

        .playlistCards{
            display: flex;
            justify-content: center;
            gap: 1.5em;
            flex-wrap: wrap;

            a{
                display: flex;
                align-items: center;
                color: white;
                font-family: montserrat;
                text-decoration: none;
    
                i{
                    color: $secondaryColor;
                    margin-right: 0.5em;
                    font-size: 1.5em;
                }
            }
    
            article{
                div{
                    display: flex;
                    justify-content: space-between;
    
                    form{
                        button{
                            background-color: red;
                            color: black;
                            font-family: montserrat;
                            font-weight: bold;
                            padding: 0.5em;
                            border-radius: 10px;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .pagination{
            display: flex;
            gap: 0.5em;

            span{
                padding: 5px;
                border: $secondaryColor 1px solid;
                cursor: pointer;
                font-family: montserrat;
                
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}