<footer>
    <section>
        <nav>
            <li><a href="/">SPOTILIKE</a></li>
            <li><a href="/playlist">DÉCOUVRIR</a></li>
            <li><a href="/ClassementLikePlaylist">CLASSEMENT</a></li>
            <li><a href="/DayPlaylist">PLAYLIST DU JOUR</a></li>
        </nav>
        <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
        </div>
    </section>
    <p>© 2022 SpotiLike</p>
</footer>