<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Spotilike | Partage de playlist Spotify{% endblock %}</title>
        <meta name="description" content="Bienvenue sur SpotiLike, ici vous pouvez trouver les playlists Spotify partagées par la communauté. Vous pouvez partager la vôtre et ou liker celle des autres ! Retrouvez tous vos artistes préférés comme Imagine Dragons, Dj Snake ou encore Travis Scott dans les playlists sur SpotiLike.">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🟢</text></svg>">
        <script src="https://kit.fontawesome.com/2d7e36744c.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
